@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'tailwindcss';

@theme {
  --color-orange: #ff6a00;
  --color-black: #191919;
  --color-white: #f3f4f6;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #f3f4f6;
  color: #191919;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Bebas Neue', sans-serif;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.color-logo {
  clip-path: inset(100% 0 0 0);
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }

  .container {
    @apply px-4 md:px-8;
  }
}
